body{
	margin-top: 80px;
}

/**  Header Navigation **/
.navbar-default {
	background: #171F32;
	padding: 15px 0;
	border: 0;
	box-shadow: 0px 3px 5px #000;
}
.navbar-default .navbar-nav a, 
.navbar-default .navbar-nav a:visited , 
.navbar-default .navbar-nav a:active, 
.navbar-default .navbar-nav a:focus{
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
}
.navbar-default .navbar-nav a:hover{
	color: #cf0000;
}

.navbar-header a.navbar-brand,
.navbar-header a.navbar-brand:hover,
.navbar-header a.navbar-brand:active,
.navbar-header a.navbar-brand:focus {
	font-weight: 400;
	font-size: 24px;
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover{
    background-color: #000;
    color: yellow;
    border-radius: 10px;
}
.navbar-default .navbar-nav > li > a:focus{
	color: #fff;
}

@media only screen
and (max-width: 768px) {
  	.navbar-collapse.in {
		background-color: rgba(23, 31, 50, .8);
  	}
  	.navbar-default .navbar-nav > li > a:hover{
    	border-radius: 0;
	}
 
}
/* -------------------------- slider -------------------------------- */
#home-slider .item h1{
	color: yellow;
	font-weight: bold;
}


/* -------------------------- container-wrapper -------------------------------- */
.container-wrapper{
	min-height: 600px;
}
/* -------------------------- login Page -------------------------------- */
.login-part{
	max-width: 460px;
	margin: 150px auto;
	background: #304059;
	border: 1px solid #ccc;
	padding: 25px 25px;
	text-align: center;
	border-radius: 10px;
	color: #fff;
	box-shadow: 0px 0px 10px #000;
	overflow: hidden;
}
.login-part .btn{
	float: right;
}
/* -------------------------- addProduct Page -------------------------------- */
.error{
	color: #cf0000;
}



/* -------------------------- footer -------------------------------- */

footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; margin-top: 100px; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
.icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
.icon-ul li { line-height:75px; width:100%; float:left;}
.icon { float:left; margin-right:5px;}


.copyright { min-height:40px; background-color:#000000;}
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
.post p { font-size:12px; color:#FFF; line-height:20px;}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}